@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyFirstWebApp</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <img class="img-fluid rounded mx-auto d-block" src="https://feelbulgaria.net/wp-content/uploads/2021/05/SPA-HOTEL-RICH-1.jpg" alt="rila" width="700" height="600">
</div>
<br>
<br>
<br>
<div class="text-center">
    <h1 class="display-4">Bulgaria</h1>
</div>
<br />
<div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <img class="d-block w-100" src="~/imgs/bansko.jpg" alt="bansko" />
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="~/imgs/plovdiv.jpg" alt="plovdiv" />
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="~/imgs/varna.jpg" alt="varna" />
    </div>
</div>

<script>
    var slideShow = function (container) {
        this.images = []
        this.curImage = 0;
        for (i = 0; i < container.childElementCount; i++) {
            this.images.push(container.children[i])
            this.images[i].style.display = "none"
        }

        var nextSlide = function () {
            for (var i = 0; i < this.images.length; i++) {
                this.images[i].style.display = "none"
            }
            this.images[this.curImage].style.display = "block"
            this.curImage++
            if (this.curImage >= this.images.length) {
                this.curImage = 0
            }
            window.setTimeout(nextSlide.bind(this), 1500)
        }
        nextSlide.call(this)
    }
    slideShow(document.getElementById("carouselSlidesOnly"))
</script>